<div class="table-wrapper">
  <table>
    <thead>
      <th>MSSV</th>
      <th>Họ tên</th>
      <th>Ngày sinh</th>
      <th>Quê quán</th>
    </thead>

    <tbody>
      <tr
        *ngFor="let student of students"
        routerLink="/student/{{ student.id }}"
      >
        <td>{{ student.id }}</td>
        <td>
          {{ student.fullName }}
        </td>
        <td>{{ student.dob }}</td>
        <td>
          {{ student.address }}
          <span (click)="deleteStudent(student, $event)">X</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
