/* You can add global styles to this file, and also import other style files */
@import "reset";
@import "variables";

html {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}

body {
  background-color: $super-light-gray;
  height: 100vh;
  overflow: hidden;
}

.pagination .ngx-pagination {
  width: 268%;
  margin: 10px auto;
  font-size: 16px;
  text-align: center;
}
